ul{
    display: flex;
    list-style-type: none;
    gap: 10rem;
    background-color: chocolate;
    font-size: 20px;
    justify-content: left;
    
}
.food{
    display: flex;
    justify-content: center;
    font-size: 80px;
    color:chocolate;
    font-style: oblique;
    

    
    
}
body{
background-image:url(odiseo-castrejon-1SPu0KT-Ejg-unsplash.jpg);
background-size: cover;
}
.fruit{width: 500px;
border:10px solid black;
padding:5px 20px;
border-radius:10px;
font-size: 20px;

}
.main{
    width:500px;
    border: 10px solid black;
    padding: 5px 20px;
    border-radius: 10px;
    font-size: 20px;
    
    


}
.desert{
    width: 500px;
    border: 10px solid black;
    padding:5px 20px ;
    border-radius:10px ;
    font-size:20px ;
}



